.container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-row-gap: .5em;
  grid-column-gap: 1em;
  margin: 0 auto;
}

div.item {
  background-color: rgba(255, 255, 255, 0.407);
  /* Causes severe lag during scrolling - to be investigated */
  /* backdrop-filter: blur(2px); */
}

.item-icon {
  height: 1.25em;
}

.item-icon.grayscale {
  -webkit-filter: grayscale(100%) brightness(0);
  filter: grayscale(100%) brightness(0);
}