.logo {
  height: 10em;
  padding: 0em 2em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.archeo:hover {
  filter: drop-shadow(0 0 1em #d0c3beaa);
}

.logo.fish:hover {
  filter: drop-shadow(0 0 1em #bac8dbaa);
}

.logo.flora:hover {
  filter: drop-shadow(0 0 1em #b6cdcfaa);
}

.logo.insects:hover {
  filter: drop-shadow(0 0 1em #d0bdd9aa);
}

table.museum {
  text-align: center;
}

table.museum td {
  padding: 0px 0px;
}

h2.wing {
  display: grid;
  text-align: center;
  margin-top: 0;
  grid-column: 1;
  grid-row: 1;
}

.container_row {
  display: grid;
}

.wingLayer {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  padding-bottom: 1em;
  margin-top: 0;
}