@font-face {
  font-family: 'Proggy';
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/ProggyClean.woff2');
  src: local(''), url('/static/fonts/ProggyClean.woff2') format('woff2'),
                  url('/static/fonts/ProggyClean.ttf') format('truetype'),
                  url('/static/fonts/ProggyClean.woff') format('woff'),
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #767bdd;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h2.wing {
  display:grid;
  text-align: center;
  margin-top: 0;
  grid-column: 1;
  grid-row: 1;
}

h2 {
  width:50%;
}

square.title {
  font-size: 3.2em;
  background-color: #d0c2c7;
  border-radius: 15px 15px 15px 15px;
  border: 3px outset #554751;
  color: #010101;
  text-shadow: 2px 2px 2px #b9a7a3;
  padding: .3em;
  padding-left: .5em;
  padding-right: .4em;
  }
div.title{
  padding: 1.5em;
  margin-bottom: 1.5em;
}
img.rightBorder {
  transform: scalex(-100%) scale(130%);
  margin-left: -2px;
}
img.leftBorder {
  transform: scale(130%);
  margin-right: -2px;
}